@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #00fefc;
	--secundary-color: #006665;
	--secundary-light-color: #0a817f;
	--darkslow-color: #131a2b;
	--dark-color: #11182e;
	/* --dark-color: #131a2b; */
	--light-color: #f1f1f1;
	/* --light-color: #131A2B; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--secundary-color: #006665;
	}
}

/* body {
	color: rgb(var(--secundary-color));
	background: linear-gradient(to bottom, transparent, rgb(var(--primary-color)))
		rgb(var(--primary-color));
} */

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */
